[Desktop Entry]
Type=Application
Name=Segra
GenericName=Game Recorder
Comment=Record and clip your games
Exec=segra %U
Icon=tv.segra.Segra
Terminal=false
Categories=AudioVideo;Recorder;
Keywords=record;clip;gameplay;capture;screen;
StartupWMClass=Segra
